{% extends "base.html" %}

{% block title %}Sudoku Solver{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles_solver.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles_guru.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<h1>Sudoku Solver</h1>
<div class="container">
    <form method="POST" action="/solver">
        <div class="sudoku-container">
            <div class="sudoku-board">
                {% for i in range(9) %}
                    {% for j in range(9) %}
                        <input type="text" name="cell-{{ i }}-{{ j }}" class="cell {% if (i, j) in invalid_positions %}invalid-cell{% endif %}" 
                        value="{{ grid[i][j] if grid else '' }}" 
                        onclick="selectCell(this)" autocomplete="off"
                        maxlength="1"
                        oninput="this.value = this.value.replace(/[^1-9]/g, '')">
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="keypad">
                <div class="keypad-buttons">
                    {% for num in range(1, 10) %}
                        <button type="button" class="keypad-button" onclick="enterNumber({{ num }})">{{ num }}</button>
                    {% endfor %}
                </div>
                
            </div>
            
        </div>
        <div class="button-container">
            <button type="submit" name="solve" class="solve-buttons">SOLVE</button>
            <button type="submit" name="clear" class="solve-buttons">CLEAR</button>
            <button type="button" class="import-button">IMPORT</button>
        </div>    
    </form>
    
    <!-- Error message display -->
    {% if warning %}
            <div class="error-messages">{{ warning }}</div>
        {% endif %}
    
</div>

<div id="importModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Import Sudoku Puzzle</h2>
        <form id="importForm">
            <textarea id="sudokuInput" rows="1" cols="81" placeholder="Enter 81-digit line..."></textarea>
            <button type="button" onclick="submitImport()">Submit</button>
        </form>
    </div>
</div>

<script src="/static/scripts.js"></script>
{% endblock %}